.lista-notas{
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: center;
  flex-grow: 3;
  grid-template-columns: auto auto auto auto;
  list-style-type: none;
  padding-left: 24px;
  padding-top: 24px;

  
}

.lista-notas_conteudo{
 
  list-style: none;
}

